<!DOCTYPE html>
<html>
  <head>
    <title> Senators </title>
  </head>
  <body>
    <form action = "/getSenP">
      <input type = "text" name = "party">
      <button type = "submit" value = "Democrat">
    </form>
    <form action = "/getSenI">
      <input type = "text" name = "Senator's Name">
      <button type = "submit" value = "Submit">
    </form>
    <form action = "/getConI">
      <input type = "text" name = "Senator's Name">
      <button type = "submit" value = "Submit">
    </form>
    <form action = "/getSMI">
      <input type = "text" name = "Senator's Name">
      <button type = "submit" value = "Submit">
    </form>
    <form action = "/getSenS">
      <input type = "text" name = "State">
      <button type = "submit" value = "Submit">
    </form>

  </body>
</html>
